<!DOCTYPE html>
<html>
  <head>
    <title>Myap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <h1>現在の日時：<%= Date.current.strftime("%Y年%m月%d日") %> 
      スケジュール合計：<%= Post.count("title") %>
      <%= yield :sum %> </h1>
    </footer>
  </body>
</html>
